<!DOCTYPE html>
<html lang="en">

<head>
    <title>API</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="dark-form-container">
        <form method="POST" enctype="multipart/form-data" action="{{ url_for('get_product') }}">
            <label for="sku">SKU:</label>
            <input type="text" id="sku" name="sku" required>

            <label for="country">Locale:</label>
            <input type="text" id="country" name="country" required>

            <label for="language">Language:</label>
            <input type="text" id="language" name="language" required>
    
            <button type="submit">Go</button>
        </form>
    </div>
    </body>
</html>
