<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>API</title>
</head>
<body>
    <div class="dark-form-container">
        <form action="/get_product" method="post">
            <label for="sku">SKU:</label>
            <input type="text" id="sku" name="sku" required>

            <label for="country">Locale:</label>
            <input type="text" id="country" name="country" required>

            <label for="language">Language:</label>
            <input type="text" id="language" name="language" required>
    
            <button type="submit">Go</button>
        </form>
    </div>
    </body>
</html>
