<!DOCTYPE html>
<html lang="en">
  <head>
    <title>API</title>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  </head>
  <body>
    <div class="blue-form-container">
      <form method="POST" action="{{ url_for('get_product') }}">        <label for="sku">SKU:</label>
        <input type="text" id="sku" name="sku" maxlength="10" required />
    
        <label for="country">Locale:</label>
        <input type="text" id="country" name="country" maxlength="2" required />
    
        <label for="language">Language:</label>
        <input type="text" id="language" name="language" maxlength="2" required />
    
        <button type="submit">GO</button>
      </form>
    </div>

    <div class="image-container">
     <img src="{{ url_for('static', filename='images/favicon.png') }}" alt="" width="50" height="50">
  </div>

  </body>
</html>
