<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {{ df[df['tag'] == 'prodname']['value'].iloc[0] | default('') | safe }}
    </title>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='images/favicon.ico') }}"
    />
    <script
      src="{{ url_for('static', filename='js/slideshow.js') }}"
      defer
    ></script>
    <script
      src="{{ url_for('static', filename='js/superscript.js') }}"
      defer
    ></script>
    <script
      src="{{ url_for('static', filename='js/mouseover.js') }}"
      defer
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/favicon.ico') }}"
      type="image/x-icon"
    />
  </head>

  <body>
    <div class="blue-form-container">
      <form method="POST" action="{{ url_for('get_product') }}">
        <label for="sku">SKU:</label>
        <input type="text" id="sku" name="sku" maxlength="10" required />

        <label for="country">Locale:</label>
        <input type="text" id="country" name="country" maxlength="2" required />

        <label for="language">Language:</label>
        <input
          type="text"
          id="language"
          name="language"
          maxlength="2"
          required
        />

        <button type="submit">GO</button>
      </form>
    </div>

    <div id="ATF" class="superscript-content">
      <table>
        <tr>
          <td>
            <div class="slideshow-container">
              {% set num_images = 0 %} {% set orientations = ['Center facing',
              'Left facing', 'Right facing', 'Rear facing', 'Left rear facing',
              'Top view closed', 'Detail view', 'Left profile closed', 'Right
              profile closed', 'Right rear facing'] %} {% for orientation in
              orientations %} {% set found = false %} {% for index, row in
              df_images.iterrows() %} {% if row['pixelWidth'] == '573' and
              row['orientation'] == orientation and row['type'] == 'png' %} {%
              set found = true %}
              <div class="mySlides fade">
                <center>
                  <img src="{{ row['imageUrlHttps'] | default('') | safe }}" />
                </center>
              </div>
              {% set num_images = num_images + 1 %} {% endif %} {% endfor %} {%
              if found %} {% set num_images = num_images + 1 %} {% endif %} {%
              endfor %}
              <a class="prev" onclick="plusSlides(-1)">❮</a>
              <a class="next" onclick="plusSlides(1)">❯</a>
            </div>
            <br />
          </td>
          <td>
            <!--product name, should be prodlongnamespecs -->
            <b>
              <h1>
                <span
                  id="prodname"
                  onmouseover="handleMouseover(this, 'prodname')"
                >
                  {% if 'prodname' in df['tag'].values %} {{ df[df['tag'] ==
                  'prodname']['value'].iloc[0] | default('') | safe }} {% endif
                  %}
                </span>
              </h1>
            </b>

            <!--proddes_overview_extended-->
            <span
              id="proddes_overview_extended"
              onmouseover="handleMouseover(this, 'proddes_overview_extended')"
            >
              {% if 'proddes_overview_extended' in df['tag'].values %} {{
              df[df['tag'] == 'proddes_overview_extended']['value'].iloc[0] |
              default('') | safe }} {% endif %}
            </span>

            <br /><br />
            <div id="ksp">
              {% if 'ksp_01_suppt_01_long' in df['tag'].values %} {% set content
              = df[df['tag'] == 'ksp_01_suppt_01_long']['value'].iloc[0] |
              default('') %} {% if content %}
              <ul>
                <li>
                  <!-- ksp_01_suppt_01_long -->
                  <span
                    id="span_ksp_01_suppt_01_long"
                    onmouseover="handleMouseover(this, 'ksp_01_suppt_01_long')"
                    >{{ content | safe }}</span
                  >
                </li>
              </ul>
              {% endif %} {% endif %} {% if 'ksp_02_suppt_01_long' in
              df['tag'].values %} {% set content = df[df['tag'] ==
              'ksp_02_suppt_01_long']['value'].iloc[0] | default('') %} {% if
              content %}
              <ul>
                <li>
                  <!-- ksp_02_suppt_01_long -->
                  <span
                    id="span_ksp_02_suppt_01_long"
                    onmouseover="handleMouseover(this, 'ksp_02_suppt_01_long')"
                    >{{ content | safe }}</span
                  >
                </li>
              </ul>
              {% endif %} {% endif %} {% if 'ksp_03_suppt_01_long' in
              df['tag'].values %} {% set content = df[df['tag'] ==
              'ksp_03_suppt_01_long']['value'].iloc[0] | default('') %} {% if
              content %}
              <ul>
                <li>
                  <!-- ksp_03_suppt_01_long -->
                  <span
                    id="span_ksp_03_suppt_01_long"
                    onmouseover="handleMouseover(this, 'ksp_03_suppt_01_long')"
                    >{{ content | safe }}</span
                  >
                </li>
              </ul>
              {% endif %} {% endif %} {% if 'ksp_04_suppt_01_long' in
              df['tag'].values %} {% set content = df[df['tag'] ==
              'ksp_04_suppt_01_long']['value'].iloc[0] | default('') %} {% if
              content %}
              <ul>
                <li>
                  <!-- ksp_04_suppt_01_long -->
                  <span
                    id="span_ksp_04_suppt_01_long"
                    onmouseover="handleMouseover(this, 'ksp_04_suppt_01_long')"
                    >{{ content | safe }}</span
                  >
                </li>
              </ul>
              {% endif %} {% endif %} {% if 'ksp_05_suppt_01_long' in
              df['tag'].values %} {% set content = df[df['tag'] ==
              'ksp_05_suppt_01_long']['value'].iloc[0] | default('') %} {% if
              content %}
              <ul>
                <li>
                  <!-- ksp_05_suppt_01_long -->
                  <span
                    id="span_ksp_05_suppt_01_long"
                    onmouseover="handleMouseover(this, 'ksp_05_suppt_01_long')"
                    >{{ content | safe }}</span
                  >
                </li>
              </ul>
              {% endif %} {% endif %}{% if 'osinstalled' in df['tag'].values %}
              {% set content_osinstalled = df[df['tag'] ==
              'osinstalled']['value'].iloc[0] | default('') %} {% endif %} {% if
              'osinstalledftntnbr' in df['tag'].values %} {% set
              content_osinstalledftntnbr = df[df['tag'] ==
              'osinstalledftntnbr']['value'].iloc[0] | default('') %} {% endif
              %} {% if content_osinstalled or content_osinstalledftntnbr %}
              <ul>
                <li>
                  {% if content_osinstalled %}
                  <span
                    id="osinstalled"
                    onmouseover="handleMouseover(this, 'osinstalled')"
                  >
                    <!-- osinstalled -->
                    {{ content_osinstalled | safe }}
                  </span>
                  {% endif %} {% if content_osinstalledftntnbr %}
                  <span
                    id="osinstalledftntnbr"
                    onmouseover="handleMouseover(this, 'osinstalledftntnbr')"
                  >
                    <!-- osinstalledftntnbr -->
                    {{ content_osinstalledftntnbr | safe }}
                  </span>
                  {% endif %}
                </li>
              </ul>
              {% endif %} {% if 'processorname' in df['tag'].values %} {% set
              content_processorname = df[df['tag'] ==
              'processorname']['value'].iloc[0] | default('') %} {% endif %} {%
              if 'processornameftntnbr' in df['tag'].values %} {% set
              content_processornameftntnbr = df[df['tag'] ==
              'processornameftntnbr']['value'].iloc[0] | default('') %} {% endif
              %} {% if content_processorname or content_processornameftntnbr %}
              <ul>
                <li>
                  <span
                    id="processorname"
                    onmouseover="handleMouseover(this, 'processorname')"
                  >
                    <!-- processorname -->
                    {{ content_processorname | safe }}
                  </span>
                  {% if content_processornameftntnbr %}
                  <span
                    id="processornameftntnbr"
                    onmouseover="handleMouseover(this, 'processornameftntnbr')"
                  >
                    <!-- processornameftntnbr -->
                    {{ content_processornameftntnbr | safe }}
                  </span>
                  {% endif %}
                </li>
              </ul>
              {% endif %}{% if 'memstdes_01' in df['tag'].values %} {% set
              content_memstdes_01 = df[df['tag'] ==
              'memstdes_01']['value'].iloc[0] | default('') %} {% endif %} {% if
              'memstdes_01ftntnbr' in df['tag'].values %} {% set
              content_memstdes_01ftntnbr = df[df['tag'] ==
              'memstdes_01ftntnbr']['value'].iloc[0] | default('') %} {% endif
              %} {% if content_memstdes_01 or content_memstdes_01ftntnbr %}
              <ul>
                <li>
                  <span
                    id="memstdes_01"
                    onmouseover="handleMouseover(this, 'memstdes_01')"
                  >
                    <!-- memstdes_01 -->
                    {{ content_memstdes_01 | safe }}
                  </span>
                  {% if content_memstdes_01ftntnbr %}
                  <span
                    id="memstdes_01ftntnbr"
                    onmouseover="handleMouseover(this, 'memstdes_01ftntnbr')"
                  >
                    <!-- memstdes_01ftntnbr -->
                    {{ content_memstdes_01ftntnbr | safe }}
                  </span>
                  {% endif %}
                </li>
              </ul>
              {% endif %} {% if 'hd_01des' in df['tag'].values %} {% set
              content_hd_01des = df[df['tag'] == 'hd_01des']['value'].iloc[0] |
              default('') %} {% endif %} {% if 'hd_01desftntnbr' in
              df['tag'].values %} {% set content_hd_01desftntnbr = df[df['tag']
              == 'hd_01desftntnbr']['value'].iloc[0] | default('') %} {% endif
              %} {% if content_hd_01des %}
              <ul>
                <li>
                  <span
                    id="hd_01des"
                    onmouseover="handleMouseover(this, 'hd_01des')"
                  >
                    <!-- hd_01des -->
                    {{ content_hd_01des | safe }}
                  </span>
                  {% if content_hd_01desftntnbr %}
                  <span
                    id="hd_01desftntnbr"
                    onmouseover="handleMouseover(this, 'hd_01desftntnbr')"
                  >
                    <!-- hd_01desftntnbr -->
                    {{ content_hd_01desftntnbr | safe }}
                  </span>
                  {% endif %}
                </li>
              </ul>
              {% endif %} {% if 'hd_02des' in df['tag'].values %} {% set
              content_hd_02des = df[df['tag'] == 'hd_02des']['value'].iloc[0] |
              default('') %} {% endif %} {% if 'hd_02desftntnbr' in
              df['tag'].values %} {% set content_hd_02desftntnbr = df[df['tag']
              == 'hd_02desftntnbr']['value'].iloc[0] | default('') %} {% endif
              %} {% if content_hd_02des %}
              <ul>
                <li>
                  <span
                    id="hd_02des"
                    onmouseover="handleMouseover(this, 'hd_02des')"
                  >
                    <!-- hd_02des -->
                    {{ content_hd_02des | safe }}
                  </span>
                  {% if content_hd_02desftntnbr %}
                  <span
                    id="hd_02desftntnbr"
                    onmouseover="handleMouseover(this, 'hd_02desftntnbr')"
                  >
                    <!-- hd_02desftntnbr -->
                    {{ content_hd_02desftntnbr | safe }}
                  </span>
                  {% endif %}
                </li>
              </ul>
              {% endif %} {% if 'hd_03des' in df['tag'].values %} {% set
              content_hd_03des = df[df['tag'] == 'hd_03des']['value'].iloc[0] |
              default('') %} {% endif %} {% if 'hd_03desftntnbr' in
              df['tag'].values %} {% set content_hd_03desftntnbr = df[df['tag']
              == 'hd_03desftntnbr']['value'].iloc[0] | default('') %} {% endif
              %} {% if content_hd_03des %}
              <ul>
                <li>
                  <!-- hd_03des -->
                  <span
                    id="hd_03des"
                    onmouseover="handleMouseover(this, 'hd_03des')"
                  ></span>
                  {{ content_hd_03des | safe }} {% if content_hd_03desftntnbr %}
                  <span
                    id="hd_03desftntnbr"
                    onmouseover="handleMouseover(this, 'hd_03desftntnbr')"
                  >
                    <!-- hd_03desftntnbr -->
                    {{ content_hd_03desftntnbr | safe }}
                  </span>
                  {% endif %}
                </li>
              </ul>
              {% endif %} {% if 'displaymet' in df['tag'].values %} {% set
              content_displaymet = df[df['tag'] ==
              'displaymet']['value'].iloc[0] | default('') %} {% endif %} {% if
              'displaymetftntnbr' in df['tag'].values %} {% set
              content_displaymetftntnbr = df[df['tag'] ==
              'displaymetftntnbr']['value'].iloc[0] | default('') %} {% endif %}
              {% if content_displaymet %}
              <ul>
                <li>
                  <!-- displaymet -->
                  <span
                    id="displaymet"
                    onmouseover="handleMouseover(this, 'displaymet')"
                  >
                    <!-- displaymet -->
                    {{ content_displaymet | safe }} {% if content_displaymet
                    %}</span
                  >
                  <span
                    id="displaymetftntnbr"
                    onmouseover="handleMouseover(this, 'displaymetftntnbr')"
                  >
                    <!-- displaymetftntnbr -->
                    {{ content_displaymetftntnbr| safe }}
                  </span>
                  {% endif %}
                </li>
              </ul>
              {% endif %}{% if 'graphicseg_01header' in df['tag'].values %} {%
              set content_graphicseg_01header = df[df['tag'] ==
              'graphicseg_01header']['value'].iloc[0] | default('') %} {% endif
              %} {% if 'graphicseg_01card_01' in df['tag'].values %} {% set
              content_graphicseg_01card_01 = df[df['tag'] ==
              'graphicseg_01card_01']['value'].iloc[0] | default('') %} {% endif
              %} {% if content_graphicseg_01header %}
              <ul>
                <li>
                  <!-- graphicseg_01header -->
                  <span
                    id="graphicseg_01header"
                    onmouseover="handleMouseover(this, 'graphicseg_01header')"
                  >
                    <!-- graphicseg_01header -->
                    {{ content_graphicseg_01header | safe }} {% if
                    content_graphicseg_01card_01 %}</span
                  >
                  <span
                    id="graphicseg_01card_01"
                    onmouseover="handleMouseover(this, 'graphicseg_01card_01')"
                  >
                    <!-- graphicseg_01card_01 -->
                    {{ content_graphicseg_01card_01 | safe }}
                  </span>
                  {% endif %}
                </li>
              </ul>
              {% endif %} {% if 'batterylife' in df['tag'].values %} {% set
              content_batterylife = df[df['tag'] ==
              'batterylife']['value'].iloc[0] | default('') %} {% endif %} {% if
              'batterylifeftntnbr' in df['tag'].values %} {% set
              content_batterylifeftntnbr = df[df['tag'] ==
              'batterylifeftntnbr']['value'].iloc[0] | default('') %} {% endif
              %} {% if content_batterylife %}
              <ul>
                <li>
                  <span
                    id="batterylife"
                    onmouseover="handleMouseover(this, 'batterylife')"
                  >
                    <!-- batterylife -->
                    {{ content_batterylife | safe }}</span
                  >
                  {% if content_batterylifeftntnbr %}
                  <span
                    id="batterylifeftntnbr"
                    onmouseover="handleMouseover(this, 'batterylifeftntnbr')"
                  >
                    <!-- batterylifeftntnbr -->
                    {{ content_batterylifeftntnbr | safe }}
                  </span>
                  {% endif %}
                </li>
              </ul>
              {% endif %}{% if 'batterylifedes' in df['tag'].values %} {% set
              content_batterylifedes = df[df['tag'] ==
              'batterylifedes']['value'].iloc[0] | default('') %} {% endif %} {%
              if 'batterylifedesftntnbr' in df['tag'].values %} {% set
              content_batterylifedesftntnbr = df[df['tag'] ==
              'batterylifedesftntnbr']['value'].iloc[0] | default('') %} {%
              endif %} {% if content_batterylifedes %}
              <ul>
                <li>
                  <span
                    id="batterylifedes"
                    onmouseover="handleMouseover(this, 'batterylifedes, batterylifedesftntnbr')"
                  >
                    <!-- batterylifedes -->
                    {{ content_batterylifedes | safe }}</span
                  >
                  {% if content_batterylifedesftntnbr %}
                  <span
                    id="batterylifedesftntnbr"
                    onmouseover="handleMouseover(this, 'batterylifedesftntnbr')"
                  >
                    <!-- batterylifedesftntnbr -->
                    {{ content_batterylifedesftntnbr | safe }}
                  </span>
                  {% endif %}
                </li>
              </ul>
              {% endif %}{% if 'colour' in df['tag'].values %} {% set
              content_colour = df[df['tag'] == 'colour']['value'].iloc[0] |
              default('') %} {% endif %} {% if content_colour %}
              <ul>
                <li>
                  <span
                    id="colour"
                    onmouseover="handleMouseover(this, 'colour')"
                  >
                    <!-- colour -->
                    {{ content_colour | safe }}</span
                  >
                </li>
              </ul>
              {% endif %}
            </div>
            <br /><br />
          </td>
        </tr>
      </table>
      <br />
      <div id="MM" class="superscript-content">
        <table>
          <tbody>
            {% if 'Center facing' in df_images['orientation'].values or
            'ksp_01_headline_medium' in df['tag'].values or
            'ksp_01_suppt_01_long' in df['tag'].values %}
            <tr>
              <td class="MM-image">
                {% if 'Center facing' in df_images['orientation'].values %}
                <img
                  src="{{ df_images[df_images['orientation'] == 'Center facing']['imageUrlHttps'].iloc[0] | default('') | escape }}"
                  alt="Product Image"
                />
                {% endif %}
              </td>
              <td class="MM-text">
                {% if 'ksp_01_headline_medium' in df['tag'].values %}
                <h3>
                  <strong
                    id="ksp_01_headline_medium"
                    onmouseover="handleMouseover(this, 'ksp_01_headline_medium')"
                    >{{ df[df['tag'] ==
                    'ksp_01_headline_medium']['value'].iloc[0] }}</strong
                  >
                </h3>
                {% endif %} {% if 'ksp_01_suppt_01_long' in df['tag'].values %}
                <span
                  id="ksp_01_suppt_01_long_mm"
                  onmouseover="handleMouseover(this, 'ksp_01_suppt_01_long')"
                >
                  {{ df[df['tag'] == 'ksp_01_suppt_01_long']['value'].iloc[0]
                  }}</span
                >
                {% endif %}
              </td>
            </tr>
            {% endif %} {% if 'ksp_02_headline_medium' in df['tag'].values or
            'ksp_02_suppt_01_long' in df['tag'].values or 'Left facing' in
            df_images['orientation'].values %}
            <tr>
              <td class="MM-text">
                {% if 'ksp_02_headline_medium' in df['tag'].values %}
                <h3>
                  <strong
                    id="ksp_02_headline_medium"
                    onmouseover="handleMouseover(this, 'ksp_02_headline_medium')"
                    >{{ df[df['tag'] ==
                    'ksp_02_headline_medium']['value'].iloc[0] }}</strong
                  >
                </h3>
                {% endif %} {% if 'ksp_02_suppt_01_long' in df['tag'].values %}
                <span
                  id="ksp_02_suppt_01_long_mm"
                  onmouseover="handleMouseover(this, 'ksp_02_suppt_01_long')"
                >
                  {{ df[df['tag'] == 'ksp_02_suppt_01_long']['value'].iloc[0]
                  }}</span
                >
                {% endif %}
              </td>
              <td class="MM-image">
                {% if 'Left facing' in df_images['orientation'].values %}
                <img
                  src="{{ df_images[df_images['orientation'] == 'Left facing']['imageUrlHttps'].iloc[0] | default('') | escape }}"
                  alt="Product Image"
                />
                {% endif %}
              </td>
            </tr>
            {% endif %} {% if 'Right facing' in df_images['orientation'].values
            or 'ksp_03_headline_medium' in df['tag'].values or
            'ksp_03_suppt_01_long' in df['tag'].values %}
            <tr>
              <td class="MM-image">
                {% if 'Right facing' in df_images['orientation'].values %}
                <img
                  src="{{ df_images[df_images['orientation'] == 'Right facing']['imageUrlHttps'].iloc[0] | default('') | escape }}"
                  alt="Product Image"
                />
                {% endif %}
              </td>
              <td class="MM-text">
                {% if 'ksp_03_headline_medium' in df['tag'].values %}
                <h3>
                  <strong
                    id="ksp_03_headline_medium"
                    onmouseover="handleMouseover(this, 'ksp_03_headline_medium')"
                    >{{ df[df['tag'] ==
                    'ksp_03_headline_medium']['value'].iloc[0] }}</strong
                  >
                </h3>
                {% endif %} {% if 'ksp_03_suppt_01_long' in df['tag'].values %}
                <span
                  id="ksp_03_suppt_01_long_mm"
                  onmouseover="handleMouseover(this, 'ksp_03_suppt_01_long')"
                >
                  {{ df[df['tag'] == 'ksp_03_suppt_01_long']['value'].iloc[0]
                  }}</span
                >
                {% endif %}
              </td>
            </tr>
            {% endif %} {% if 'ksp_04_headline_medium' in df['tag'].values or
            'ksp_04_suppt_01_long' in df['tag'].values or 'Top view closed' in
            df['tag'].values %}
            <tr>
              <td>
                {% if 'ksp_04_headline_medium' in df['tag'].values %}
                <h3>
                  <strong
                    id="ksp_04_headline_medium"
                    onmouseover="handleMouseover(this, 'ksp_04_headline_medium')"
                    >{{ df[df['tag'] ==
                    'ksp_04_headline_medium']['value'].iloc[0] }}</strong
                  >
                </h3>
                {% endif %} {% if 'ksp_04_suppt_01_long' in df['tag'].values %}
                <span
                  id="ksp_04_suppt_01_long_mm"
                  onmouseover="handleMouseover(this, 'ksp_04_suppt_01_long')"
                >
                  {{ df[df['tag'] == 'ksp_04_suppt_01_long']['value'].iloc[0]
                  }}</span
                >
                {% endif %}
              </td>
              <td class="MM-image">
                {% if 'Top view closed' in df['tag'].values %}
                <img
                  src="{{ df[df['tag'] == 'Top view closed']['value'].iloc[0] | default('') | escape }}"
                  alt="Product Image"
                />
                {% endif %}
              </td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
      <br />

      <div id="features">
        <table>
          <tbody>
            <tr>
              <td>
                <b
                  id="feature_01_headline_01_statement"
                  onmouseover="handleMouseover(this, 'feature_01_headline_01_statement')"
                >
                  {{ df[df['tag'] ==
                  'feature_01_headline_01_statement']['value'].iloc[0] |
                  default('') | safe }}
                </b>
                <br />
                {% if 'feature_01_suppt_01_medium' in df['tag'].values %}
                <span
                  id="feature_01_suppt_01_medium"
                  onmouseover="handleMouseover(this, 'feature_01_suppt_01_medium')"
                >
                  {{ df[df['tag'] ==
                  'feature_01_suppt_01_medium']['value'].iloc[0] | default('') |
                  safe }}
                </span>
                {% endif %} {% if 'feature_01_suppt_01_ftntnbr' in
                df['tag'].values %}
                <span
                  id="feature_01_suppt_01_ftntnbr"
                  onmouseover="handleMouseover(this, 'feature_01_suppt_01_ftntnbr')"
                >
                  {{ df[df['tag'] ==
                  'feature_01_suppt_01_ftntnbr']['value'].iloc[0] | default('')
                  | safe }}
                </span>
                {% endif %}
              </td>
              <td>
                <b
                  id="feature_01_headline_02_statement"
                  onmouseover="handleMouseover(this, 'feature_01_headline_02_statement')"
                >
                  {{ df[df['tag'] ==
                  'feature_01_headline_02_statement']['value'].iloc[0] |
                  default('') | safe }}
                </b>
                <br />
                {% if 'feature_01_suppt_02_medium' in df['tag'].values %}
                <span
                  id="feature_01_suppt_02_medium"
                  onmouseover="handleMouseover(this, 'feature_01_suppt_02_medium')"
                >
                  {{ df[df['tag'] ==
                  'feature_01_suppt_02_medium']['value'].iloc[0] | default('') |
                  safe }}
                </span>
                {% endif %} {% if 'feature_01_suppt_02_ftntnbr' in
                df['tag'].values %}
                <span
                  id="feature_01_suppt_02_ftntnbr"
                  onmouseover="handleMouseover(this, 'feature_01_suppt_02_ftntnbr')"
                >
                  {{ df[df['tag'] ==
                  'feature_01_suppt_02_ftntnbr']['value'].iloc[0] | default('')
                  | safe }}
                </span>
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>
                <b
                  id="feature_01_headline_03_statement"
                  onmouseover="handleMouseover(this, 'feature_01_headline_03_statement')"
                >
                  {{ df[df['tag'] ==
                  'feature_01_headline_03_statement']['value'].iloc[0] |
                  default('') | safe }}
                </b>
                <br />
                {% if 'feature_01_suppt_03_medium' in df['tag'].values %}
                <span
                  id="feature_01_suppt_03_medium"
                  onmouseover="handleMouseover(this, 'feature_01_suppt_03_medium')"
                >
                  {{ df[df['tag'] ==
                  'feature_01_suppt_03_medium']['value'].iloc[0] | default('') |
                  safe }}
                </span>
                {% endif %} {% if 'feature_01_suppt_03_ftntnbr' in
                df['tag'].values %}
                <span
                  id="feature_01_suppt_03_ftntnbr"
                  onmouseover="handleMouseover(this, 'feature_01_suppt_03_ftntnbr')"
                >
                  {{ df[df['tag'] ==
                  'feature_01_suppt_03_ftntnbr']['value'].iloc[0] | default('')
                  | safe }}
                </span>
                {% endif %}
              </td>
              <td>
                <b
                  id="feature_01_headline_04_statement"
                  onmouseover="handleMouseover(this, 'feature_01_headline_04_statement')"
                >
                  {{ df[df['tag'] ==
                  'feature_01_headline_04_statement']['value'].iloc[0] |
                  default('') | safe }}
                </b>
                <br />
                {% if 'feature_01_suppt_04_medium' in df['tag'].values %}
                <span
                  id="feature_01_suppt_04_medium"
                  onmouseover="handleMouseover(this, 'feature_01_suppt_04_medium')"
                >
                  {{ df[df['tag'] ==
                  'feature_01_suppt_04_medium']['value'].iloc[0] | default('') |
                  safe }}
                </span>
                {% endif %} {% if 'feature_01_suppt_04_ftntnbr' in
                df['tag'].values %}
                <span
                  id="feature_01_suppt_04_ftntnbr"
                  onmouseover="handleMouseover(this, 'feature_01_suppt_04_ftntnbr')"
                >
                  {{ df[df['tag'] ==
                  'feature_01_suppt_04_ftntnbr']['value'].iloc[0] | default('')
                  | safe }}
                </span>
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>
                <b
                  id="feature_01_headline_05_statement"
                  onmouseover="handleMouseover(this, 'feature_01_headline_05_statement')"
                >
                  {{ df[df['tag'] ==
                  'feature_01_headline_05_statement']['value'].iloc[0] |
                  default('') | safe }}
                </b>
                <br />
                {% if 'feature_01_suppt_05_medium' in df['tag'].values %}
                <span
                  id="feature_01_suppt_05_medium"
                  onmouseover="handleMouseover(this, 'feature_01_suppt_05_medium')"
                >
                  {{ df[df['tag'] ==
                  'feature_01_suppt_05_medium']['value'].iloc[0] | default('') |
                  safe }}
                </span>
                {% endif %} {% if 'feature_01_suppt_05_ftntnbr' in
                df['tag'].values %}
                <span
                  id="feature_01_suppt_05_ftntnbr"
                  onmouseover="handleMouseover(this, 'feature_01_suppt_05_ftntnbr')"
                >
                  {{ df[df['tag'] ==
                  'feature_01_suppt_05_ftntnbr']['value'].iloc[0] | default('')
                  | safe }}
                </span>
                {% endif %}
              </td>
              <td>
                <b
                  id="feature_01_headline_06_statement"
                  onmouseover="handleMouseover(this, 'feature_01_headline_06_statement')"
                >
                  {{ df[df['tag'] ==
                  'feature_01_headline_06_statement']['value'].iloc[0] |
                  default('') | safe }}
                </b>
                <br />
                {% if 'feature_01_suppt_06_medium' in df['tag'].values %}
                <span
                  id="feature_01_suppt_06_medium"
                  onmouseover="handleMouseover(this, 'feature_01_suppt_06_medium')"
                >
                  {{ df[df['tag'] ==
                  'feature_01_suppt_06_medium']['value'].iloc[0] | default('') |
                  safe }}
                </span>
                {% endif %} {% if 'feature_01_suppt_06_ftntnbr' in
                df['tag'].values %}
                <span
                  id="feature_01_suppt_06_ftntnbr"
                  onmouseover="handleMouseover(this, 'feature_01_suppt_06_ftntnbr')"
                >
                  {{ df[df['tag'] ==
                  'feature_01_suppt_06_ftntnbr']['value'].iloc[0] | default('')
                  | safe }}
                </span>
                {% endif %}
              </td>
            </tr>
          </tbody>
        </table>

        <table>
          <tbody>
            <tr>
              <td>
                <b
                  id="feature_02_headline_01_statement"
                  onmouseover="handleMouseover(this, 'feature_02_headline_01_statement')"
                >
                  {{ df[df['tag'] ==
                  'feature_02_headline_01_statement']['value'].iloc[0] |
                  default('') | safe }}
                </b>
                <br />
                {% if 'feature_02_suppt_01_medium' in df['tag'].values %}
                <span
                  id="feature_02_suppt_01_medium"
                  onmouseover="handleMouseover(this, 'feature_02_suppt_01_medium')"
                >
                  {{ df[df['tag'] ==
                  'feature_02_suppt_01_medium']['value'].iloc[0] | default('') |
                  safe }}
                </span>
                {% endif %} {% if 'feature_02_suppt_01_ftntnbr' in
                df['tag'].values %}
                <span
                  id="feature_02_suppt_01_ftntnbr"
                  onmouseover="handleMouseover(this, 'feature_02_suppt_01_ftntnbr')"
                >
                  {{ df[df['tag'] ==
                  'feature_02_suppt_01_ftntnbr']['value'].iloc[0] | default('')
                  | safe }}
                </span>
                {% endif %}
              </td>
              <td>
                <b
                  id="feature_02_headline_02_statement"
                  onmouseover="handleMouseover(this, 'feature_02_headline_02_statement')"
                >
                  {{ df[df['tag'] ==
                  'feature_02_headline_02_statement']['value'].iloc[0] |
                  default('') | safe }}
                </b>
                <br />
                {% if 'feature_02_suppt_02_medium' in df['tag'].values %}
                <span
                  id="feature_02_suppt_02_medium"
                  onmouseover="handleMouseover(this, 'feature_02_suppt_02_medium')"
                >
                  {{ df[df['tag'] ==
                  'feature_02_suppt_02_medium']['value'].iloc[0] | default('') |
                  safe }}
                </span>
                {% endif %} {% if 'feature_02_suppt_02_ftntnbr' in
                df['tag'].values %}
                <span
                  id="feature_02_suppt_02_ftntnbr"
                  onmouseover="handleMouseover(this, 'feature_02_suppt_02_ftntnbr')"
                >
                  {{ df[df['tag'] ==
                  'feature_02_suppt_02_ftntnbr']['value'].iloc[0] | default('')
                  | safe }}
                </span>
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>
                <b
                  id="feature_02_headline_03_statement"
                  onmouseover="handleMouseover(this, 'feature_02_headline_03_statement')"
                >
                  {{ df[df['tag'] ==
                  'feature_02_headline_03_statement']['value'].iloc[0] |
                  default('') | safe }}
                </b>
                <br />
                {% if 'feature_02_suppt_03_medium' in df['tag'].values %}
                <span
                  id="feature_02_suppt_03_medium"
                  onmouseover="handleMouseover(this, 'feature_02_suppt_03_medium')"
                >
                  {{ df[df['tag'] ==
                  'feature_02_suppt_03_medium']['value'].iloc[0] | default('') |
                  safe }}
                </span>
                {% endif %} {% if 'feature_02_suppt_03_ftntnbr' in
                df['tag'].values %}
                <span
                  id="feature_02_suppt_03_ftntnbr"
                  onmouseover="handleMouseover(this, 'feature_02_suppt_03_ftntnbr')"
                >
                  {{ df[df['tag'] ==
                  'feature_02_suppt_03_ftntnbr']['value'].iloc[0] | default('')
                  | safe }}
                </span>
                {% endif %}
              </td>
              <td>
                <b
                  id="feature_02_headline_04_statement"
                  onmouseover="handleMouseover(this, 'feature_02_headline_04_statement')"
                >
                  {{ df[df['tag'] ==
                  'feature_02_headline_04_statement']['value'].iloc[0] |
                  default('') | safe }}
                </b>
                <br />
                {% if 'feature_02_suppt_04_medium' in df['tag'].values %}
                <span
                  id="feature_02_suppt_04_medium"
                  onmouseover="handleMouseover(this, 'feature_02_suppt_04_medium')"
                >
                  {{ df[df['tag'] ==
                  'feature_02_suppt_04_medium']['value'].iloc[0] | default('') |
                  safe }}
                </span>
                {% endif %} {% if 'feature_02_suppt_04_ftntnbr' in
                df['tag'].values %}
                <span
                  id="feature_02_suppt_04_ftntnbr"
                  onmouseover="handleMouseover(this, 'feature_02_suppt_04_ftntnbr')"
                >
                  {{ df[df['tag'] ==
                  'feature_02_suppt_04_ftntnbr']['value'].iloc[0] | default('')
                  | safe }}
                </span>
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>
                <b
                  id="feature_02_headline_05_statement"
                  onmouseover="handleMouseover(this, 'feature_02_headline_05_statement')"
                >
                  {{ df[df['tag'] ==
                  'feature_02_headline_05_statement']['value'].iloc[0] |
                  default('') | safe }}
                </b>
                <br />
                {% if 'feature_02_suppt_05_medium' in df['tag'].values %}
                <span
                  id="feature_02_suppt_05_medium"
                  onmouseover="handleMouseover(this, 'feature_02_suppt_05_medium')"
                >
                  {{ df[df['tag'] ==
                  'feature_02_suppt_05_medium']['value'].iloc[0] | default('') |
                  safe }}
                </span>
                {% endif %} {% if 'feature_02_suppt_05_ftntnbr' in
                df['tag'].values %}
                <span
                  id="feature_02_suppt_05_ftntnbr"
                  onmouseover="handleMouseover(this, 'feature_02_suppt_05_ftntnbr')"
                >
                  {{ df[df['tag'] ==
                  'feature_02_suppt_05_ftntnbr']['value'].iloc[0] | default('')
                  | safe }}
                </span>
                {% endif %}
              </td>
              <td>
                <b
                  id="feature_02_headline_06_statement"
                  onmouseover="handleMouseover(this, 'feature_02_headline_06_statement')"
                >
                  {{ df[df['tag'] ==
                  'feature_02_headline_06_statement']['value'].iloc[0] |
                  default('') | safe }}
                </b>
                <br />
                {% if 'feature_02_suppt_06_medium' in df['tag'].values %}
                <span
                  id="feature_02_suppt_06_medium"
                  onmouseover="handleMouseover(this, 'feature_02_suppt_06_medium')"
                >
                  {{ df[df['tag'] ==
                  'feature_02_suppt_06_medium']['value'].iloc[0] | default('') |
                  safe }}
                </span>
                {% endif %} {% if 'feature_02_suppt_06_ftntnbr' in
                df['tag'].values %}
                <span
                  id="feature_02_suppt_06_ftntnbr"
                  onmouseover="handleMouseover(this, 'feature_02_suppt_06_ftntnbr')"
                >
                  {{ df[df['tag'] ==
                  'feature_02_suppt_06_ftntnbr']['value'].iloc[0] | default('')
                  | safe }}
                </span>
                {% endif %}
              </td>
            </tr>
          </tbody>
        </table>

        <table>
          <tbody>
            <tr>
              <td>
                <b
                  id="feature_03_headline_01_statement"
                  onmouseover="handleMouseover(this, 'feature_03_headline_01_statement')"
                >
                  {{ df[df['tag'] ==
                  'feature_03_headline_01_statement']['value'].iloc[0] |
                  default('') | safe }}
                </b>
                <br />
                {% if 'feature_03_suppt_01_medium' in df['tag'].values %}
                <span
                  id="feature_03_suppt_01_medium"
                  onmouseover="handleMouseover(this, 'feature_03_suppt_01_medium')"
                >
                  {{ df[df['tag'] ==
                  'feature_03_suppt_01_medium']['value'].iloc[0] | default('') |
                  safe }}
                </span>
                {% endif %} {% if 'feature_03_suppt_01_ftntnbr' in
                df['tag'].values %}
                <span
                  id="feature_03_suppt_01_ftntnbr"
                  onmouseover="handleMouseover(this, 'feature_03_suppt_01_ftntnbr')"
                >
                  {{ df[df['tag'] ==
                  'feature_03_suppt_01_ftntnbr']['value'].iloc[0] | default('')
                  | safe }}
                </span>
                {% endif %}
              </td>
              <td>
                <b
                  id="feature_03_headline_02_statement"
                  onmouseover="handleMouseover(this, 'feature_03_headline_02_statement')"
                >
                  {{ df[df['tag'] ==
                  'feature_03_headline_02_statement']['value'].iloc[0] |
                  default('') | safe }}
                </b>
                <br />
                {% if 'feature_03_suppt_02_medium' in df['tag'].values %}
                <span
                  id="feature_03_suppt_02_medium"
                  onmouseover="handleMouseover(this, 'feature_03_suppt_02_medium')"
                >
                  {{ df[df['tag'] ==
                  'feature_03_suppt_02_medium']['value'].iloc[0] | default('') |
                  safe }}
                </span>
                {% endif %} {% if 'feature_03_suppt_02_ftntnbr' in
                df['tag'].values %}
                <span
                  id="feature_03_suppt_02_ftntnbr"
                  onmouseover="handleMouseover(this, 'feature_03_suppt_02_ftntnbr')"
                >
                  {{ df[df['tag'] ==
                  'feature_03_suppt_02_ftntnbr']['value'].iloc[0] | default('')
                  | safe }}
                </span>
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>
                <b
                  id="feature_03_headline_03_statement"
                  onmouseover="handleMouseover(this, 'feature_03_headline_03_statement')"
                >
                  {{ df[df['tag'] ==
                  'feature_03_headline_03_statement']['value'].iloc[0] |
                  default('') | safe }}
                </b>
                <br />
                {% if 'feature_03_suppt_03_medium' in df['tag'].values %}
                <span
                  id="feature_03_suppt_03_medium"
                  onmouseover="handleMouseover(this, 'feature_03_suppt_03_medium')"
                >
                  {{ df[df['tag'] ==
                  'feature_03_suppt_03_medium']['value'].iloc[0] | default('') |
                  safe }}
                </span>
                {% endif %} {% if 'feature_03_suppt_03_ftntnbr' in
                df['tag'].values %}
                <span
                  id="feature_03_suppt_03_ftntnbr"
                  onmouseover="handleMouseover(this, 'feature_03_suppt_03_ftntnbr')"
                >
                  {{ df[df['tag'] ==
                  'feature_03_suppt_03_ftntnbr']['value'].iloc[0] | default('')
                  | safe }}
                </span>
                {% endif %}
              </td>
              <td>
                <b
                  id="feature_03_headline_04_statement"
                  onmouseover="handleMouseover(this, 'feature_03_headline_04_statement')"
                >
                  {{ df[df['tag'] ==
                  'feature_03_headline_04_statement']['value'].iloc[0] |
                  default('') | safe }}
                </b>
                <br />
                {% if 'feature_03_suppt_04_medium' in df['tag'].values %}
                <span
                  id="feature_03_suppt_04_medium"
                  onmouseover="handleMouseover(this, 'feature_03_suppt_04_medium')"
                >
                  {{ df[df['tag'] ==
                  'feature_03_suppt_04_medium']['value'].iloc[0] | default('') |
                  safe }}
                </span>
                {% endif %} {% if 'feature_03_suppt_04_ftntnbr' in
                df['tag'].values %}
                <span
                  id="feature_03_suppt_04_ftntnbr"
                  onmouseover="handleMouseover(this, 'feature_03_suppt_04_ftntnbr')"
                >
                  {{ df[df['tag'] ==
                  'feature_03_suppt_04_ftntnbr']['value'].iloc[0] | default('')
                  | safe }}
                </span>
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>
                <b
                  id="feature_03_headline_05_statement"
                  onmouseover="handleMouseover(this, 'feature_03_headline_05_statement')"
                >
                  {{ df[df['tag'] ==
                  'feature_03_headline_05_statement']['value'].iloc[0] |
                  default('') | safe }}
                </b>
                <br />
                {% if 'feature_03_suppt_05_medium' in df['tag'].values %}
                <span
                  id="feature_03_suppt_05_medium"
                  onmouseover="handleMouseover(this, 'feature_03_suppt_05_medium')"
                >
                  {{ df[df['tag'] ==
                  'feature_03_suppt_05_medium']['value'].iloc[0] | default('') |
                  safe }}
                </span>
                {% endif %} {% if 'feature_03_suppt_05_ftntnbr' in
                df['tag'].values %}
                <span
                  id="feature_03_suppt_05_ftntnbr"
                  onmouseover="handleMouseover(this, 'feature_03_suppt_05_ftntnbr')"
                >
                  {{ df[df['tag'] ==
                  'feature_03_suppt_05_ftntnbr']['value'].iloc[0] | default('')
                  | safe }}
                </span>
                {% endif %}
              </td>
              <td>
                <b
                  id="feature_03_headline_06_statement"
                  onmouseover="handleMouseover(this, 'feature_03_headline_06_statement')"
                >
                  {{ df[df['tag'] ==
                  'feature_03_headline_06_statement']['value'].iloc[0] |
                  default('') | safe }}
                </b>
                <br />
                {% if 'feature_03_suppt_06_medium' in df['tag'].values %}
                <span
                  id="feature_03_suppt_06_medium"
                  onmouseover="handleMouseover(this, 'feature_03_suppt_06_medium')"
                >
                  {{ df[df['tag'] ==
                  'feature_03_suppt_06_medium']['value'].iloc[0] | default('') |
                  safe }}
                </span>
                {% endif %} {% if 'feature_03_suppt_06_ftntnbr' in
                df['tag'].values %}
                <span
                  id="feature_03_suppt_06_ftntnbr"
                  onmouseover="handleMouseover(this, 'feature_03_suppt_06_ftntnbr')"
                >
                  {{ df[df['tag'] ==
                  'feature_03_suppt_06_ftntnbr']['value'].iloc[0] | default('')
                  | safe }}
                </span>
                {% endif %}
              </td>
            </tr>
          </tbody>
        </table>

        <br />
        <br />

        <table style="text-align: center">
          <tr>
            <td style="vertical-align: middle">
              <img
                src="https://h10003.www1.hp.com/digmedialib/prodimg/lowres/c08169167.png"
              /><br />
              {% if 'displaymet' in df['tag'].values %} {% set
              content_displaymet = df[df['tag'] ==
              'displaymet']['value'].iloc[0] | default('') %} {% endif %} {{
              content_displaymet | safe }} {% if content_displaymet %}{% endif
              %}
            </td>
            <td style="vertical-align: middle">
              <img
                src="https://h10003.www1.hp.com/digmedialib/prodimg/lowres/c08169181.png"
              /><br />
              {% if 'processorname' in df['tag'].values %} {% set
              content_processorname = df[df['tag'] ==
              'processorname']['value'].iloc[0] | default('') %} {% endif %} {{
              content_processorname | safe }} {% if content_processorname %}{%
              endif %}
            </td>
            <td style="vertical-align: middle">
              <img
                src="https://h10003.www1.hp.com/digmedialib/prodimg/lowres/c08267700.png"
              /><br />
              {% if 'memstdes_01' in df['tag'].values %} {% set
              content_memstdes_01 = df[df['tag'] ==
              'memstdes_01']['value'].iloc[0] | default('') %} {% endif %} {{
              content_memstdes_01 | safe }} {% if content_memstdes_01 %}{% endif
              %}
            </td>
          </tr>
          <tr>
            <td style="vertical-align: middle">
              <img
                src="https://h10003.www1.hp.com/digmedialib/prodimg/lowres/c03795626.png"
              /><br />
              {% if 'hd_01des' in df['tag'].values %} {% set content_hd_01des =
              df[df['tag'] == 'hd_01des']['value'].iloc[0] | default('') %} {%
              endif %} {{ content_hd_01des | safe }} {% if content_hd_01des %}{%
              endif %}
            </td>
            <td style="vertical-align: middle">
              <img
                src="https://h10003.www1.hp.com/digmedialib/prodimg/lowres/c08169202.png"
              /><br />
              {% if 'graphicseg_01card_01' in df['tag'].values %} {% set
              content_graphicseg_01card_01 = df[df['tag'] ==
              'graphicseg_01card_01']['value'].iloc[0] | default('') %} {% endif
              %} {{ content_graphicseg_01card_01 | safe }} {% if
              content_graphicseg_01card_01 %}{% endif %}
            </td>
            <td style="vertical-align: middle">
              <img
                src="https://h10003.www1.hp.com/digmedialib/prodimg/lowres/c08169087.png"
              /><br />
              {% if 'wirelesstech' in df['tag'].values %} {% set
              content_wirelesstech = df[df['tag'] ==
              'wirelesstech']['value'].iloc[0] | default('') %} {% endif %} {{
              content_wirelesstech | safe }} {% if content_wirelesstech %}{%
              endif %}
            </td>
          </tr>
          <tr>
            <td style="vertical-align: middle">
              <img
                src="https://h10003.www1.hp.com/digmedialib/prodimg/lowres/c03905482.png"
              /><br />
              {% if 'osinstalled' in df['tag'].values %} {% set
              content_osinstalled = df[df['tag'] ==
              'osinstalled']['value'].iloc[0] | default('') %} {% endif %} {{
              content_osinstalled | safe }} {% if content_osinstalled %}{% endif
              %}
            </td>
            <td style="vertical-align: middle">
              <img
                src="https://h10003.www1.hp.com/digmedialib/prodimg/lowres/c03795557.png"
              /><br />
              {% if 'batterylife' in df['tag'].values %} {% set
              content_batterylife = df[df['tag'] ==
              'batterylife']['value'].iloc[0] | default('') %} {% endif %} {{
              content_batterylife | safe }} {% if content_batterylife %}{% endif
              %}
            </td>
            <td style="vertical-align: middle">
              <img
                src="https://h10003.www1.hp.com/digmedialib/prodimg/lowres/c08267650.png"
              /><br />
              {% if 'weightmet' in df['tag'].values %} {% set content_weightmet
              = df[df['tag'] == 'weightmet']['value'].iloc[0] | default('') %}
              {% endif %} {{ content_weightmet | safe }} {% if content_weightmet
              %}{% endif %}
            </td>
          </tr>
        </table>

        <br />
        <br />

        <table>
          <tr>
            {% if 'Left and Right facing' in df_images['orientation'].values %}
            <td style="vertical-align: middle">
              <img id="ports_img"
                src="{{ df_images[df_images['orientation'] == 'Left and Right facing']['imageUrlHttps'].iloc[0] | default('') | escape }}"
                alt="Product Image"
              />
            </td>
            {% endif %}
            <td style="vertical-align: middle; padding-left: 10px">
              <h1><b>Ports:</b></h1>
              <br />
              <ul>
              {% if 'ioports' in df['tag'].values %}
                {% set content_ioports = df[df['tag'] == 'ioports']['value'].iloc[0] | default('') %}
                <li>{{ content_ioports | safe }}</li>
              {% endif %}

                {% if 'ioports_02' in df['tag'].values %}
                  <li>{{ df[df['tag'] == 'ioports_02']['value'].iloc[0] | default('') | safe }}</li>
                {% endif %}
                {% if 'ioports_03' in df['tag'].values %}
                  <li>{{ df[df['tag'] == 'ioports_03']['value'].iloc[0] | default('') | safe }}</li>
                {% endif %}
                {% if 'ioports_04' in df['tag'].values %}
                  <li>{{ df[df['tag'] == 'ioports_04']['value'].iloc[0] | default('') | safe }}</li>
                {% endif %}
                {% if 'ioports_05' in df['tag'].values %}
                  <li>{{ df[df['tag'] == 'ioports_05']['value'].iloc[0] | default('') | safe }}</li>
                {% endif %}
              </ul>
            </td>
          </tr>
        </table>


        <table>
          <tr>

            <td style="vertical-align: middle; padding-left: 10px">

              <br />
              {% if 'flex_value_prop_1_headline' in df['tag'].values %}
                {% set content_flex_value_prop_1_headline = df[df['tag'] == 'flex_value_prop_1_headline']['value'].iloc[0] | default('') %}
                <h1><b>{{ content_flex_value_prop_1_headline | safe }}</b></h1>
              {% endif %}
              <br />
              {% if 'flex_value_prop_1_suppt' in df['tag'].values %}
                {% set content_flex_value_prop_1_suppt = df[df['tag'] == 'flex_value_prop_1_suppt']['value'].iloc[0] | default('') %}
                {{ content_flex_value_prop_1_suppt | safe }}
              {% endif %}


            </td>

            {% if 'Left and Right facing' in df_images['orientation'].values %}
            <td style="vertical-align: middle">
              <img id="environ_img" src="{{ url_for('static', filename='images/sustainable_impact.jpg') }}" alt="" width="400" height="400">
            </td>
            {% endif %}
          </tr>
        </table>

        <br />
        <br />
      </div>

      <div>
        <br />
        <h2 id="see-more" style="cursor: pointer">+Expand to see more</h2>
        <br />

        <table id="tech-specs" style="display: none">
          <tbody>
            {% for value in [ "osinstalled", "processorfamily", "processorname",
            "chipset", "specialfeat", "environspec", "memstdes01",
            "memstdesnote", "memlayout", "hd01des", "hdnote01", "hd02des",
            "hdnote02", "hd03des", "hdnote03", "hd04des", "hdnote04", "hd05des",
            "hdnote05", "cloudserv", "cloudservftntnbr", "graphicseg_01card_01",
            "ioports", "expanslots", "webcam", "audiofeat", "keyboard",
            "keybrdftntnbr", "mousepntgdevice", "wirelesstech",
            "wirelesstechnote", "sensors", "powersupplytype", "batterytype",
            "batterytypenote", "energyeffcomp", "energyeffcompftntnbr",
            "dimenmet", "dimenpackmet", "weightmet", "weightpackmet", "colour",
            "prodfinish", "securitymgmt", "wrntyfeatures",
            "wrntyfeaturesftntnbr", "swincluded", "softwareftntnbr",
            "swpreinstalled", "swprodfinance", "productcolour", "memstosimp",
            "display" ] %} {% if df[df['tag'] == value].shape[0] > 0 %}
            <tr>
              <td>
                <b
                  >{{ df[df['tag'] == value]['name'].iloc[0] | default('') |
                  safe }}</b
                >
              </td>
              <td>
                {{ df[df['tag'] == value]['value'].iloc[0] | default('') | safe
                }}
              </td>
            </tr>
            {% endif %} {% endfor %}
          </tbody>
        </table>

        <br />

        <table id="footnotes">
          {% for value in [ "msgfootnote_01", "msgfootnote_02" ] %} {% if
          df[df['tag'] == value].shape[0] > 0 %}
          <tr>
            <td>
              {{ df[df['tag'] == value]['value'].iloc[0] | default('') | safe }}
            </td>
          </tr>
          {% endif %} {% endfor %}
        </table>
      </div>
    </div>

    <div class="image-container">
      <img
        src="{{ url_for('static', filename='images/favicon.png') }}"
        alt=""
        width="50"
        height="50"
      />
    </div>

  </body>
</html>
