<html>
  <head>
    <title>{{ df[df['tag'] == 'prodname']['value'].iloc[0] | default('') | safe }}</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
  </head>

  <body>
    <div id="ATF" class="superscript-content">
      <table>
        <tr>
          <td>
            <div class="main-slideshow">
                {% set orientations = ['Center facing', 'Left facing', 'Right facing', 'Rear facing', 'Left rear facing', 'Top view closed', 'Detail view', 'Left profile closed', 'Right profile closed', 'Right rear facing'] %}
                {% for orientation in orientations %}
                    {% for index, row in df_images.iterrows() %}
                        {% if row['pixelWidth'] == '573' and row['orientation'] == orientation and row['type'] == 'png' %}
                        <div>
                            <center>
                            <img src="{{ row['imageUrlHttps'] | default('') | safe }}" onclick="openModal('{{ row['imageUrlHttps'] | default('') | safe }}')"/>
                            </center>
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="thumbnail-carousel">
                {% for orientation in ['Center facing', 'Left facing', 'Right facing', 'Rear facing', 'Left rear facing', 'Top view closed', 'Detail view', 'Left profile closed', 'Right profile closed', 'Right rear facing'] %}
                    {% for index, row in df_images.iterrows() %}
                        {% if row['pixelWidth'] == '573' and row['orientation'] == orientation and row['type'] == 'png' %}
                            <div><img class="thumbnail" src="{{ row['imageUrlHttps'] | default('') | safe }}" alt="{{ orientation }}"></div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
          </td>
          <td>
            <b><h1><span id="prodname">{{ df[df['tag'] == 'prodname']['value'].iloc[0] | default('') | safe }}</span></h1></b>
            <span id="proddes_overview_extended">{{ df[df['tag'] == 'proddes_overview_extended']['value'].iloc[0] | default('') | safe }}</span>
            <br /><br />
            <div id="ksp">
                <ul>
                {% set ksp_tags = [
                    ('ksp_01_suppt_01_long', None), ('ksp_02_suppt_01_long', None), ('ksp_03_suppt_01_long', None),
                    ('ksp_04_suppt_01_long', None), ('ksp_05_suppt_01_long', None), ('osinstalled', 'osinstalledftntnbr'),
                    ('processorname', 'processornameftntnbr'), ('memstdes_01', 'memstdes_01ftntnbr'),
                    ('hd_01des', 'hd_01desftntnbr'), ('hd_02des', 'hd_02desftntnbr'), ('hd_03des', 'hd_03desftntnbr'),
                    ('displaymet', 'displaymetftntnbr'), ('graphicseg_01header', None), ('graphicseg_01card_01', None),
                    ('batterylife', 'batterylifeftntnbr'), ('batterylifedes', 'batterylifedesftntnbr'), ('colour', None)
                ] %}
                {% for tag, ftnt_tag in ksp_tags %}
                    {% if tag in df['tag'].values %}
                    <li>
                        <span>{{ df[df['tag'] == tag]['value'].iloc[0] | default('') | safe }}</span>
                        {% if ftnt_tag and ftnt_tag in df['tag'].values %}
                        <span>{{ df[df['tag'] == ftnt_tag]['value'].iloc[0] | default('') | safe }}</span>
                        {% endif %}
                    </li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
          </td>
        </tr>
      </table>
      <br />
      <div id="MM" class="superscript-content">
        <table>
          <tbody>
            {% set mm_blocks = [
                { 'headline': 'ksp_01_headline_medium', 'support': 'ksp_01_suppt_01_long', 'orientation': 'Center facing', 'img_first': True },
                { 'headline': 'ksp_02_headline_medium', 'support': 'ksp_02_suppt_01_long', 'orientation': 'Left facing', 'img_first': False },
                { 'headline': 'ksp_03_headline_medium', 'support': 'ksp_03_suppt_01_long', 'orientation': 'Right facing', 'img_first': True },
                { 'headline': 'ksp_04_headline_medium', 'support': 'ksp_04_suppt_01_long', 'orientation': 'Top view closed', 'img_first': False }
            ] %}
            {% for block in mm_blocks %}
                {% if block.headline in df['tag'].values or block.orientation in df_images['orientation'].values %}
                <tr>
                    {% set text_content %}
                        {% if block.headline in df['tag'].values %}<h3><strong>{{ df[df['tag'] == block.headline]['value'].iloc[0] }}</strong></h3>{% endif %}
                        {% if block.support in df['tag'].values %}<p>{{ df[df['tag'] == block.support]['value'].iloc[0] }}</p>{% endif %}
                    {% endset %}
                    {% set image_content %}
                        {% if block.orientation in df_images['orientation'].values %}<img src="{{ df_images[df_images['orientation'] == block.orientation]['imageUrlHttps'].iloc[0] | default('') | escape }}" alt="Product Image">{% endif %}
                    {% endset %}

                    {% if block.img_first %}
                        <td class="MM-image">{{ image_content }}</td>
                        <td class="MM-text">{{ text_content }}</td>
                    {% else %}
                        <td class="MM-text">{{ text_content }}</td>
                        <td class="MM-image">{{ image_content }}</td>
                    {% endif %}
                </tr>
                {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>

      <br/>

      <div id="features">
        <table>
            <tbody>
            {% for i in range(1, 4) %}
                <tr>
                {% for j in range(1, 3) %}
                    {% set feature_num = (i - 1) * 2 + j %}
                    <td>
                        <b>{{ df[df['tag'] == 'feature_0' ~ i ~ '_headline_0' ~ j ~ '_statement']['value'].iloc[0] | default('') | safe }}</b><br>
                        {{ df[df['tag'] == 'feature_0' ~ i ~ '_suppt_0' ~ j ~ '_medium']['value'].iloc[0] | default('') | safe }}
                        {{ df[df['tag'] == 'feature_0' ~ i ~ '_suppt_0' ~ j ~ '_ftntnbr']['value'].iloc[0] | default('') | safe }}
                    </td>
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
      </div>

      <br/>
      <h2 id="see-more" style="cursor: pointer;">+Expand to see more</h2>
      <br/>

      <table id="tech-specs" style="display: none;">
        <tbody>
            {% set tech_spec_tags = ['osinstalled', 'processorfamily', 'processorname', 'chipset', 'memstdes_01', 'hd_01des', 'graphicseg_01card_01', 'displaymet', 'batterylife', 'weightmet', 'colour', 'prodfinish', 'securitymgmt', 'wrntyfeatures', 'swincluded'] %}
            {% for tag in tech_spec_tags %}
                {% if tag in df['tag'].values %}
                <tr>
                    <td><b>{{ df[df['tag'] == tag]['name'].iloc[0] | default('') | safe }}</b></td>
                    <td>
                        {{ df[df['tag'] == tag]['value'].iloc[0] | default('') | safe }}
                        {% set ftnt_tag = tag ~ 'ftntnbr' %}
                        {% if ftnt_tag in df['tag'].values %}
                            {{ df[df['tag'] == ftnt_tag]['value'].iloc[0] | default('') | safe }}
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
      </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="{{ url_for('static', filename='js/slideshow.js') }}"></script>
    <script src="{{ url_for('static', filename='js/superscript.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mouseover.js') }}"></script>
  </body>
</html>