<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Product Images
    </title>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='images/favicon.ico') }}"
    />
    <script
      src="{{ url_for('static', filename='js/slideshow.js') }}"
      defer
    ></script>
    <script
      src="{{ url_for('static', filename='js/superscript.js') }}"
      defer
    ></script>
    <script
      src="{{ url_for('static', filename='js/mouseover.js') }}"
      defer
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/favicon.ico') }}"
      type="image/x-icon"
    />

  </head>

  <body>
    <table class="table_index">
      <tr>
        <td>
          <div class="blue-form-container">
            <form method="POST" action="{{ url_for('call_get_product') }}">
              <label for="sku">SKU:</label>
              <input type="text" id="sku" name="sku" maxlength="10" required />
    
              <label for="country">Locale:</label>
              <input type="text" id="country" name="country" maxlength="2" required />
    
              <label for="language">Language:</label>
              <input type="text" id="language" name="language" maxlength="2" required />
    
              <button type="submit">GO</button>
            </form>
          </div>
        </td>
        <td>
          <div class="blue-form-container">
            <form method="POST" action="{{ url_for('call_get_images') }}">
              <label for="sku">SKU:</label>
              <input type="text" id="sku" name="sku" maxlength="10" required />
    
              <label for="country">Locale:</label>
              <input type="text" id="country" name="country" maxlength="2" required />
    
              <label for="language">Language:</label>
              <input type="text" id="language" name="language" maxlength="2" required />
    
              <button type="submit">GO</button>
            </form>
          </div>
        </td>
      </tr>
    </table>
    
    <div id="ATF">
      <table id="tech-specs">
          <tr><td><b>Metadata</b></td><td><b>Total</b></td></tr>
          <tr><td>pixelWidth</td></td><td>{{ counts.pixelWidth_count }}</td></tr>
          <tr><td>pixelHeight</td><td>{{ counts.pixelHeight_count }}</td></tr>
          <tr><td>orientation</td><td>{{ counts.orientation_count }}</td></tr>
          <tr><td>productColor</td><td>{{ counts.productColor_count }}</td></tr>
          <tr><td>imageUrlHttp</td><td>{{ counts.imageUrlHttp_count }}</td></tr>
          <tr><td>imageUrlHttps</td><td>{{ counts.imageUrlHttps_count }}</td></tr>
          <tr><td>masterObjectName</td><td>{{ counts.masterObjectName_count }}</td></tr>
          <tr><td>Total Images:</td><td>{{ image_count }}</td></tr>
      </table>


      <hr class="centered-hr">
      {% for image in image_details %}
          <table id="tech-specs">
              <tr><td>oid</td><td>{{ image.oid }}</td><td rowspan="16"><img src="{{ image.imageUrlHttps }}" alt="Product Image" class="product-image"></td></tr>
              <tr><td>sku</td><td>{{ image.sku }}</td></tr>
              <tr><td>status</td><td>{{ image.status }}</td></tr>
              <tr><td>statusMessage</td><td>{{ image.statusMessage }}</td></tr>
              <tr><td>fallbackApplied</td><td>{{ image.fallbackApplied }}</td></tr>
              <tr><td>group</td><td>{{ image.group }}</td></tr>
              <tr><td>pixelWidth</td><td>{{ image.pixelWidth }}</td></tr>
              <tr><td>pixelHeight</td><td>{{ image.pixelHeight }}</td></tr>
              <tr><td>orientation</td><td>{{ image.orientation }}</td></tr>
              <tr><td>productColor</td><td>{{ image.productColor }}</td></tr>
              <tr><td>documentTypeDetail</td><td>{{ image.documentTypeDetail }}</td></tr>
              <tr><td>imageUrlHttp</td><td><a href="{{ image.imageUrlHttp }}">{{ image.imageUrlHttp }}</a></td></tr>
              <tr><td>imageUrlHttps</td><td><a href="{{ image.imageUrlHttps }}">{{ image.imageUrlHttps }}</a></td></tr>
              <tr><td>background</td><td>{{ image.background }}</td></tr>
              <tr><td>masterObjectName</td><td>{{ image.masterObjectName }}</td></tr>
              <tr><td>type</td><td>{{ image.type }}</td></tr>
          </table>
          <hr class="centered-hr">
      {% endfor %}
  </div>
  
  

  </body>
</html>
