<html>

<head>
  <title>
    {% if df is defined and not df.empty %}
    {{ df[df['tag'] == 'prodname']['value'].iloc[0] | default('') | safe }}
    {% else %}
    HP Product Information
    {% endif %}
  </title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
</head>

<body>

  {% if df is defined and not df.empty %}
  <div id="ATF" class="superscript-content">
    <div class="content-card product-header">
      <h1><span id="prodname">{{ df[df['tag'] == 'prodname']['value'].iloc[0] | default('') | safe }}</span></h1>
    </div>
    
    <div class="content-card">
      <div class="product-gallery">
        <div class="product-gallery-main">
        </div>
        <div class="product-gallery-thumbs">
          {% for index, row in df_images.iterrows() %}
          <img class="thumb-item" src="{{ row['imageUrlHttps'] | default('') | safe }}"
            data-full-image="{{ row['imageUrlHttps'] | default('') | safe }}"
            alt="{{ row['orientation'] | default('') }}">
          {% endfor %}
        </div>
      </div>
    </div>
    
    <div class="product-description content-card">
      <p>{{ df[df['tag'] == 'proddes_overview_extended']['value'].iloc[0] | default('') | safe }}</p>
    </div>
    
    <div id="MM" class="superscript-content">
      {% for block in mm_blocks %}
      <div class="mm-block">
        <div class="mm-image">
          <img src="{{ block.image_url | escape }}" alt="Marketing Image">
        </div>
        <div class="mm-text">
          {% if block.headline %}<h3><strong>{{ block.headline }}</strong></h3>{% endif %}
          {% if block.support %}<p>{{ block.support }}</p>{% endif %}
        </div>
      </div>
      {% endfor %}
    </div>

    <div id="features" class="content-card">
      <div class="features-grid">
        {% for block in feature_blocks %}
        <div class="feature-block">
          <div class="feature-image">
            <img src="{{ block.image_url | escape }}" alt="Feature Image">
          </div>
          <div class="feature-text">
            <b>{{ block.headline | safe }}</b><br>
            {% if block.support %}
            {{ block.support | safe }}
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    
    <h2 id="see-more" class="expand-button">Show All Specifications</h2>
    
    <div id="tech-specs" class="content-card" style="display: none;">
      <table class="tech-specs-table">
        <tbody>
          {% for group_name, specs in tech_specs_by_group.items() %}
            <tr>
              <td colspan="2" style="background-color: #f2f2f2;"><strong>{{ group_name }}</strong></td>
            </tr>
            {% for row in specs %}
              <tr>
                <td><b>{{ row['name'] | safe }}</b></td>
                <td>
                  {{ row['value'] | safe }}
                  {% set ftnt_tag = row['tag'] ~ 'ftntnbr' %}
                  {% if ftnt_tag in df['tag'].values %}
                    {{ df[df['tag'] == ftnt_tag]['value'].iloc[0] | default('') | safe }}
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    </div>
    
    <h2 id="see-more-companions" class="expand-button">View Recommended Companions</h2>
    
    <div id="companions" class="content-card" style="display: none;">
      <div class="companions-grid">
          {% for companion in companions %}
          <div class="companion-item">
              <img src="{{ companion.image_url }}" alt="{{ companion.name }}">
              <div class="companion-details">
                  <p><b>{{ companion.name }}</b></p>
                  <p>SKU: {{ companion.sku }}</p>
              </div>
          </div>
          {% endfor %}
      </div>
    </div>
    
    <h2 id="see-more-footnotes" class="expand-button">Show Footnotes</h2>

    <div id="footnotes" class="content-card" style="display: none;">
      <table class="footnotes-table">
        <tbody>
          {% if df_disclaimers is defined and not df_disclaimers.empty %}
          {% for index, row in df_disclaimers.iterrows() %}
          <tr>
            <td>{{ row['value'] | default('') | safe }}</td>
          </tr>
          {% endfor %}
          {% endif %}
          {% if df_footnotes is defined and not df_footnotes.empty %}
          {% for index, row in df_footnotes.iterrows() %}
          <tr>
            <td>{{ row['value'] | default('') | safe }}</td>
          </tr>
          {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/superscript.js') }}"></script>
  
  {% else %}
  <p>Detecting your location and redirecting you to the correct HP page...</p>
  <div id="redirect-info" data-pn="{{ pn }}" data-redirect-url="{{ url_for('call_get_product_from_qr') }}"></div>
  {% endif %}

  <script src="{{ url_for('static', filename='js/redirect_or_gallery.js') }}"></script>
</body>

</html>