<html>

<head>
  <title>
    {% if df is defined and not df.empty %}
    {{ df[df['tag'] == 'prodname']['value'].iloc[0] | default('') | safe }}
    {% else %}
    HP Product Information
    {% endif %}
  </title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
</head>

<body>

  {% if df is defined and not df.empty %}
  <div id="ATF" class="superscript-content">
    <center>
      <h1><span id="prodname">{{ df[df['tag'] == 'prodname']['value'].iloc[0] | default('') | safe }}</span></h1>
    </center>
    <br>
    <div class="product-gallery">
      <div class="product-gallery-main"></div>
      <div class="product-gallery-thumbs">
        {% for index, row in df_images.iterrows() %}
        <img class="thumb-item" src="{{ row['imageUrlHttps'] | default('') | safe }}"
          data-full-image="{{ row['imageUrlHttps'] | default('') | safe }}"
          alt="{{ row['orientation'] | default('') }}">
        {% endfor %}
      </div>
    </div>
    <br>
    <div class="product-description">
      <p>{{ df[df['tag'] == 'proddes_overview_extended']['value'].iloc[0] | default('') | safe }}</p>
    </div>
    <br>

    <br />
    <div id="MM" class="superscript-content">
      {% for block in mm_blocks %}
      <div class="mm-block">
        <div class="mm-image">
          <img src="{{ block.image_url | escape }}" alt="Marketing Image">
        </div>
        <div class="mm-text">
          {% if block.headline %}<h3><strong>{{ block.headline }}</strong></h3>{% endif %}
          {% if block.support %}<p>{{ block.support }}</p>{% endif %}
        </div>
      </div>
      {% endfor %}
    </div>

    <br />
    <div id="features">
      {% for block in feature_blocks %}
      <div class="feature-block">
        <div class="feature-image">
          <img src="{{ block.image_url | escape }}" alt="Feature Image">
        </div>
        <div class="feature-text">
          <b>{{ block.headline | safe }}</b><br>
          {% if block.support %}
          {{ block.support | safe }}
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
    <br />
    <h2 id="see-more" class="expand-button">Show All Specifications</h2>
    <br />
    <table id="tech-specs" style="display: none;">
      <tbody>
        {% for index, row in df.iterrows() %}
        {# Skip footnote tags and feature tags in the main loop #}
        {% if not row['tag'].endswith('ftntnbr') and not row['tag'].startswith('feature_') and not row['tag'].startswith('lgldisclaimer_') %}
        <tr>
          <td><b>{{ row['name'] | safe }}</b></td>
          <td>
            {{ row['value'] | safe }}

            {# Check for and display the corresponding footnote #}
            {% set ftnt_tag = row['tag'] ~ 'ftntnbr' %}
            {% if ftnt_tag in df['tag'].values %}
            {{ df[df['tag'] == ftnt_tag]['value'].iloc[0] | default('') | safe }}
            {% endif %}
          </td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
    <br>
    <h2 id="see-more-companions" class="expand-button">View Recommended Accessories</h2>
    <br />
    <div id="companions" style="display: none;">

      <div class="companion-list">
        {% for companion in companions %}
        <div class="companion-item">
          <img src="{{ companion.image_url }}" alt="{{ companion.name }}">
          <div class="companion-details">
            <p><b>{{ companion.name }}</b></p>
            <p>SKU: {{ companion.sku }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    
    <h2 id="see-more-footnotes" class="expand-button">Show Footnotes</h2>
    <br />
    <div id="footnotes-content" style="display: none;">
      <div id="footnotes">
        <table>
          <tbody>
            {% if df_disclaimers is defined and not df_disclaimers.empty %}
            {% for index, row in df_disclaimers.iterrows() %}
            <tr>
              <td>{{ row['value'] | default('') | safe }}</td>
            </tr>
            {% endfor %}
            {% endif %}
            {% if df_footnotes is defined and not df_footnotes.empty %}
            {% for index, row in df_footnotes.iterrows() %}
            <tr>
              <td>{{ row['value'] | default('') | safe }}</td>
            </tr>
            {% endfor %}
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/superscript.js') }}"></script>

  {% else %}
  <p>Detecting your location and redirecting you to the correct HP page...</p>

  <div id="redirect-info" data-pn="{{ pn }}" data-redirect-url="{{ url_for('call_get_product_from_qr') }}">
  </div>
  {% endif %}

  <script src="{{ url_for('static', filename='js/redirect_or_gallery.js') }}"></script>
</body>

</html>