<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Product Images - SKU: {{ sku }}
    </title>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='images/favicon.ico') }}"
    />
    <script
      src="{{ url_for('static', filename='js/slideshow.js') }}"
      defer
    ></script>
    <script
      src="{{ url_for('static', filename='js/superscript.js') }}"
      defer
    ></script>
    <script
      src="{{ url_for('static', filename='js/mouseover.js') }}"
      defer
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/favicon.ico') }}"
      type="image/x-icon"
    />

  </head>

  <body>
    <table class="table_index">
      <tr>
        <td>
          <div class="blue-form-container">
            <form method="POST" action="{{ url_for('call_get_product') }}">
              <label for="sku">SKU:</label>
              <input type="text" id="sku" name="sku" maxlength="10" required />
    
              <label for="country">Locale:</label>
              <input type="text" id="country" name="country" maxlength="2" required />
    
              <label for="language">Language:</label>
              <input type="text" id="language" name="language" maxlength="2" required />
    
              <button type="submit">GO</button>
            </form>
          </div>
        </td>
        <td>
          <div class="blue-form-container">
            <form method="POST" action="{{ url_for('call_get_images') }}">
              <label for="sku">SKU:</label>
              <input type="text" id="sku" name="sku" maxlength="10" required />
    
              <label for="country">Locale:</label>
              <input type="text" id="country" name="country" maxlength="2" required />
    
              <label for="language">Language:</label>
              <input type="text" id="language" name="language" maxlength="2" required />
    
              <button type="submit">GO</button>
            </form>
          </div>
        </td>
      </tr>
    </table>
    
    <div id="ATF">
      <table id="tech-specs">
          <tr><td><b>Metadata</b></td><td><b>Total</b></td></tr>
          <tr><td>pixelWidth</td><td>{{ counts.pixelWidth_count }}</td></tr>
          <tr><td>pixelHeight</td><td>{{ counts.pixelHeight_count }}</td></tr>
          <tr><td>orientation</td><td>{{ counts.orientation_count }}</td></tr>
          <tr><td>background</td><td>{{ counts.background_count }}</td></tr>
          <tr><td>assetCategory</td><td>{{ counts.assetCategory_count }}</td></tr>
          <tr><td>languageCodes</td><td>{{ counts.languageCodes_count }}</td></tr>
          <tr><td>assetId</td><td>{{ counts.assetId_count }}</td></tr>
          <tr><td>assetModifiedDate</td><td>{{ counts.assetModifiedDate_count }}</td></tr>
          <tr><td>assetName</td><td>{{ counts.assetName_count }}</td></tr>
          <tr><td>assetTitle</td><td>{{ counts.assetTitle_count }}</td></tr>
          <tr><td>keyword</td><td>{{ counts.keyword_count }}</td></tr>
          <tr><td>renditionId</td><td>{{ counts.renditionId_count }}</td></tr>
          <tr><td>Total Images:</td><td>{{ image_count }}</td></tr>
      </table>
    
      <hr class="centered-hr">
      {% for image in image_details %}
          <table id="tech-specs">
              <tr><td><b>assetCategory</b></td><td>{{ image.assetCategory }}</td><td rowspan="15"><img src="{{ image.imageUrlHttps }}" alt="Product Image" class="product-image"></td></tr>
              <tr><td><b>assetDescription</b></td><td>{{ image.assetDescription }}</td></tr>
              <tr><td><b>assetId</b></td><td>{{ image.assetId }}</td></tr>
              <tr><td><b>assetModifiedDate</b></td><td>{{ image.assetModifiedDate }}</td></tr>
              <tr><td><b>assetName</b></td><td>{{ image.assetName }}</td></tr>
              <tr><td><b>assetTitle</b></td><td>{{ image.assetTitle }}</td></tr>
              <tr><td><b>background</b></td><td>{{ image.background }}</td></tr>
              <tr><td><b>imageDetail</b></td><td>{{ image.imageDetail }}</td></tr>
              <tr><td><b>imageUrlHttps</b></td><td>{{ image.imageUrlHttps }}</td></tr>
              <tr><td><b>keyword</b></td><td>{{ image.keyword }}</td></tr>
              <tr><td><b>languageCodes</b></td><td>{{ image.languageCodes }}</td></tr>
              <tr><td><b>orientation</b></td><td>{{ image.orientation }}</td></tr>
              <tr><td><b>pixelHeight</b></td><td>{{ image.pixelHeight }}</td></tr>
              <tr><td><b>pixelWidth</b></td><td>{{ image.pixelWidth }}</td></tr>
              <tr><td><b>renditionId</b></td><td>{{ image.renditionId }}</td></tr>
          </table>
          <hr class="centered-hr">
      {% endfor %}
    </div>
  
  

  </body>
</html>
